@import "components/banner.css";
@import "components/button.css";
@import "components/footer.css";
@import "components/card.css";
@import "components/navbar.css";
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

section {
  margin-top: 15px;
  margin-bottom: 15px;
}

.test {
  background-image: url("https://images.unsplash.com/photo-1461749280684-dccba630e2f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  background-size: cover;
  color: white;
}

.project-img {
  max-width: 100%;
  padding: 0 30px;
}


.card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.card-body {
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-fluid {
  width: 100%;
  height: auto;
}

/*css for navbar*/
.side-nav.wide.slim {
  width: 3.75rem !important;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#content {
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
  width: 100%;
}


